/* first model*/
.alert-success-diff {
  background-color: transparent;
  border: 2px solid #18bb7c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  height: auto;
}

.alert-success-diff:hover {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #18bb7c;
  border: 2px solid #18bb7c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.alert-success-diff:hover .close {
  color: #030303 !important;
  opacity: 0.8;
}

.alert-success-diff:hover i {
  color: white;
}

.alert-success-diff:hover .inner-diff {
  background-color: transparent;
  border: 2px solid #f5f5f5;
  border-radius: 10px 0;
}

.alert-success-diff:hover p {
  color: white;
}

.alert-success-diff:hover .inner-content {
  color: white;
}

.inner-diff {
  top: 3px;
  left: 3px;
  width: 44px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  height: 44px;
  background-color: transparent;
  border: 2px solid #18bb7c;
  border-radius: 10px 0;
}

.inner-diff i {
  font-size: 18px;
  position: relative;
  top: 26%;
  left: -5px;
}

.close {
  position: relative;
  top: -13px !important;
  right: -12px !important;
}

.inner-content {
  font-size: 1.2em;
  font-weight: 500;
}

.inner-content p {
  color: black;
}

/* second model*/
.alert-error-diff {
  background-color: transparent;
  border: 2px solid #f27c66;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  height: auto;
}

.alert-error-diff:hover {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f27c66;
  border: 2px solid #f27c66;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.alert-error-diff:hover .close {
  color: #030303 !important;
  opacity: 0.8;
}

.alert-error-diff:hover i {
  color: white;
}

.alert-error-diff:hover .inner-error-diff {
  background-color: transparent;
  border: 2px solid #f5f5f5;
  border-radius: 10px 0;
}

.alert-error-diff:hover p {
  color: white;
}

.alert-error-diff:hover .inner-content {
  color: white;
}

.inner-error-diff {
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  background-color: transparent;
  border: 2px solid #f27c66;
  border-radius: 10px 0;
}

.inner-error-diff i {
  font-size: 18px;
  position: relative;
  top: 26%;
  left: -3px;
  color: #f27c66;
}

.close {
  position: relative;
  top: -13px !important;
  right: -12px !important;
}

.inner-content {
  font-size: 1.2em;
  font-weight: 500;
}

.inner-content p {
  color: black;
}

/* Third  model*/
.alert-warning-diff {
  background-color: transparent;
  border: 2px solid #f9cb8f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  height: auto;
}

.alert-warning-diff:hover {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f9cb8f;
  border: 2px solid #f9cb8f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.alert-warning-diff:hover .close {
  color: #030303 !important;
  opacity: 0.8;
}

.alert-warning-diff:hover i {
  color: white;
}

.alert-warning-diff:hover .inner-warning-diff {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px 0;
}

.alert-warning-diff:hover p {
  color: white;
}

.alert-warning-diff:hover .inner-content {
  color: white;
}

.inner-warning-diff {
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: 2px solid #f9cb8f;
  border-radius: 10px 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.inner-warning-diff i {
  font-size: 18px;
  position: relative;
  top: 26%;
  left: 1px;
  color: #f9cb8f;
}

.close {
  position: relative;
  top: -13px !important;
  right: -12px !important;
  color: #f9cb8f;
}

.inner-content {
  font-size: 1.2em;
  font-weight: 500;
}

.inner-content p {
  color: black;
}

/*Fourth model*/
.alert-info-diff {
  background-color: transparent;
  border: 2px solid #4bbcd7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  height: auto;
}

.alert-info-diff:hover {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #4bbcd7;
  border: 2px solid #4bbcd7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.alert-info-diff:hover .close {
  color: #030303 !important;
  opacity: 0.8;
}

.alert-info-diff:hover i {
  color: white;
}

.alert-info-diff:hover .inner-info-diff {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px 0;
}

.alert-info-diff:hover p {
  color: white;
}

.alert-info-diff:hover .inner-content {
  color: white;
}

.inner-info-diff {
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: 2px solid #4bbcd7;
  border-radius: 10px 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.inner-info-diff i {
  font-size: 18px;
  position: relative;
  top: 26%;
  left: 1px;
  color: #4bbcd7;
}

.close {
  position: relative;
  top: -13px !important;
  right: -12px !important;
  color: #4bbcd7;
}

.inner-content {
  font-size: 1.2em;
  font-weight: 500;
}

.inner-content p {
  color: black;
}
/*# sourceMappingURL=infoBox.css.map */